body {
    margin: 0;
  }
  #container {
    background: rgb(245, 245, 245);
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
  }

  header, footer{
    background-color: rgb(216, 222, 224);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    pad: 5pt;
    
  }


@media screen and (min-width: 640px){
    .flex-container {
        display: flex;
        align-items: stretch;
        padding: 0px;
        flex: 1 0 0
    }    
}
.left-box{
    background-color: rgb(245, 245, 245);
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right-style: dotted ;
    padding: 25px;
   justify-content: center;
}
.right-box{
    background: rgb(245, 245, 245);
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
    padding: 25px;
}
p.center-aligned {
    text-align: center;
  }
  p.right-aligned {
    text-align: right;
  }


  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background: red;
  }
  li {
    background: lightgray;
    flex: 1;
    text-align: center;
  }
  nav a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
    font-size: 1em;
  }
  @media only screen and (max-width: 900px) {
    nav a {
      font-size: 1em;
    }
  }
  li:nth-of-type(1) {
    background: rgb(216, 222, 224);
  }
  li:nth-of-type(2) {
    background: rgb(216, 222, 224);
  }
  li:nth-of-type(3) {
    background: rgb(216, 222, 224);
  }
  li:nth-of-type(4) {
    background: rgb(216, 222, 224);
  }
  li:nth-of-type(5) {
    background: rgb(216, 222, 224);
  }

  img {
    border-radius: 100%;
  }
  .padding-20 {
    padding: 20px;
  }

  p.font-2em{
    font-size: 2em;
  }

  * {box-sizing: border-box}

  .container {
    width: 100%;
    background-color: rgb(245, 245, 245);
  }

  .skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }
  
  .geo-studio {width: 90%; background-color: #808080;}
  .R {width: 80%; background-color: #808080;}
  .python {width: 65%; background-color: #808080;}
  .html-css {width: 60%; background-color: #808080;}

 ul#a {
    list-style-type: circle;
    list-style-position: outside;
   }

 li#a {
    background: rgb(245, 245, 245);
    line-height: 1.6;
    justify-self: start;
     }
    